/*Global Style*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');  
 *{  
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
 }

 body{  
  align-items: center;
  background: linear-gradient(130deg, rgba(85, 250, 255, 1) 25%, rgba(0, 212, 255, 1) 100%);
  display: flex;  
  font-family: "Poppins", sans-serif;  
  flex-direction: column;  
  justify-content: center;  
  margin: 0;
  min-height: 100vh;  
  padding: 4rem 0;
  position: relative;  
 }  

 input{  
  background-color: #fff;  
  border: none;  
  border-radius: 25px;  
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);  
  font-family: inherit;  
  font-size: 1rem;  
  margin: 0;
  min-width: 300px;  
  padding: 1rem;  
 }  

 h1, h2, h3, h4, img, p, span, small { 
  margin: 0;
  padding: 0;
 }

 input:focus{  
  outline: none;  
 }

/*Components style*/

.weather {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.main__city--name {
  font-size: 3rem;
  margin-top: 1rem;
}

.main__weather--icon {
  margin-top: -1.5rem;
}

.main__temperature {
  align-self: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
 
.main__weather {
  font-size: 2rem;
  font-weight: bold;
  margin-top: -1.5rem;
}

.main__error {
  font-size: 2.5rem;
  margin-top: 3rem;
  text-align: center;
}

.footer {
  background-color: #1f1f1f;
  bottom: 0;
  padding: 1rem 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.footer__text {
  color: #fff;
  font-size: 1.2rem;
}

.footer__link {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all ease .3s;
}

.footer__link:hover {
  color: #afafaf;
  text-decoration: underline;
}